<div class="div-main">
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar style="background-color: lightskyblue"   class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">BankNow</h1>
      <a class="e-financebook" href="http://e-financebook.com/" target="_blank"><mat-icon>calculate</mat-icon> E-financebook</a>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav mode="side" opened
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="background-color: mediumspringgreen">
        <mat-nav-list>
          <a style="align-items: center" mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav"><mat-icon>{{nav.icon}}</mat-icon>{{nav.name}}</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="mat-sidenav">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
  <!--<div class ="div-tollbar">
  <button class="button-tollbar" mat-raised-button color="primary">Registro</button>
  <button class="button-tollbar" mat-raised-button color="primary">Iniciar Sesion</button>
  </div>-->


</div>
